{% extends 'base.html.twig' %}

{% block title %}RideOrder index{% endblock %}

{% block body %}
    <h1>RideOrder index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Status</th>
                <th>Created_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ride_order in ride_orders %}
            <tr>
                <td>{{ ride_order.id }}</td>
                <td>{{ ride_order.status }}</td>
                <td>{{ ride_order.createdAt ? ride_order.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_ride_order_show', {'id': ride_order.id}) }}">show</a>
                    <a href="{{ path('app_ride_order_edit', {'id': ride_order.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_ride_order_new') }}">Create new</a>
{% endblock %}
