{% extends 'base.html.twig' %}

{% block title %}Route index{% endblock %}

{% block body %}
    <h1>Route index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Start_location</th>
                <th>End_location</th>
                <th>Distance_km</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for route in routes %}
            <tr>
                <td>{{ route.id }}</td>
                <td>{{ route.startLocation }}</td>
                <td>{{ route.endLocation }}</td>
                <td>{{ route.distanceKm }}</td>
                <td>
                    <a href="{{ path('app_route_show', {'id': route.id}) }}">show</a>
                    <a href="{{ path('app_route_edit', {'id': route.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_route_new') }}">Create new</a>
{% endblock %}
